<?xml version="1.0" ?>
<model>
    <name>mansion</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Pavlo Bashmakov</name>
        <email>pavel.bashmakov@g.com</email>
    </author>
    <description>Elegant mansion in downtown.</description>
</model>
