<!-- File to launch turtlebot_navigation amcl_demo.launch with our map file param -->
<launch>
  <arg name="map_file" default="$(find hs_project)/worlds/map_mansion.yaml"/>

  <include file="$(find turtlebot_navigation)/launch/amcl_demo.launch">
    <arg name="map_file" value="$(arg map_file)"/>
  </include>

</launch>
